{% extends 'base.html.twig' %}
{% block title %}SeeISS{% endblock %}

{% block javascriptsHead %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block body %}


    <div class="container-lg">
        <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
                <p>Le site seeiss.com est accessible gratuitement et sans publicité afin de garantir une expérience utilisateur optimale.</p>
                <p>Après un an d'activité, il devient compliqué pour moi de continuer à financer par moi-même les frais d'hébergement du site internet et du bot (50 € par an).</p>
                <p>Si vous le souhaitez, vous pouvez donc participer à cette cagnotte afin de me soutenir financièrement dans ce projet.</p>
                <a class="leetchi-widget-btn" href="http://www.leetchi.com/fr/c/rEJVbLNl"><img src="https://asset.leetchi.com/Content/Quenette/img/culture/fr/view/wizard/embed-btn.png?v=c329012b596c40ec8c480af43a4f7b7f"></a>

            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <main>



            <img id="iss" src="{{ asset('/images/iss.webp') }}" alt="">

            <section class="px-3">
                <h2 class="h3">{% trans %}passesText{% endtrans %}</h2>

                <form action="{{ path('home') }}" method="POST" id="formLocation">
                    <input id="location" class="form-control" type="text" size="50"
                           placeholder="{% if info.city %}{{ info.city }} {% else %} Location{% endif %}"/>
                    <input type="hidden" id="name" name="city"/>
                    <input type="hidden" id="lat" name="lat"/>
                    <input type="hidden" id="lon" name="lon"/>
                    <button id="buttonSumbit" type="submit" class="btn btn-primary"
                            style="margin-left: 5px">{% trans %}send{% endtrans %}</button>
                </form>

                <div id="info">
                    <p>{% trans %}issVisible{% endtrans %}</p>
                    <p>{% trans %}visiblePoint{% endtrans %}</p>
                    <p>{% trans %}timeIss{% endtrans %}</p>
                </div>


                {% if passes %}
                    <a class="pdf" target="_blank" rel="noopener noreferrer" href="{{ path('pdf') }}"><img
                                src="images/pdf.svg" alt=""></a>
                {% endif %}


            {#    <form id="paypal" action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="FG67TUU7DAZKA" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1" />
                </form>#}


                <section class="px-1">

                    {% if passes %}
                      <div id="visibilty">
                            <p class="bg-success">{% trans %}goodVisibility{% endtrans %}</p>
                            <p class="bg-warning">{% trans %}mediumVisibility{% endtrans %}</p>
                        </div>

                        {% for key, passe in passes %}
                            <h3>{{ key }}</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="head">
                                        <th></th>
                                        <th colspan="2">{% trans %}start{% endtrans %}</th>
                                        <th colspan="2">Max</th>
                                        <th colspan="2">{% trans %}end{% endtrans %}</th>
                                        <th colspan="2">Info</th>
                                        <th colspan="1"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{% trans %}start{% endtrans %}</th>
                                        <th scope="col">{% trans %}azimuth{% endtrans %}</th>
                                        <th scope="col">{% trans %}hour{% endtrans %}</th>
                                        <th scope="col">Az</th>
                                        <th scope="col">{% trans %}hour{% endtrans %}</th>
                                        <th scope="col">Az</th>
                                        <th scope="col">{% trans %}duration{% endtrans %} (s)</th>
                                        <th scope="col">Magnitude</th>
                                        <th scope="col">{% trans %}seeonmap{% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for value in passe %}
                                        <tr {% if value.magnitude <= -3 %} class="table-success" {% elseif value.magnitude <= -2 %} class="table-warning" {% endif %}>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ value.dateStart }}</td>
                                            <td>{{ value.azStartDirection }} ({{ value.azStartDegres }}°)</td>
                                            <td>{{ value.dateMax }}</td>
                                            <td>{{ value.azMaxDirection }} ({{ value.azMaxDegres }}°)</td>
                                            <td>{{ value.dateEnd }}</td>
                                            <td>{{ value.azEndDirection }} ({{ value.azEndDegres }}°)</td>
                                            <td>{{ value.duration }}</td>
                                            <td>{{ value.magnitude }}</td>
                                            <td><a href="#" class="linkMap"
                                                   id="{{ value.index }}">{% trans %}map{% endtrans %}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p id="noPassage">{% trans %}noPasse{% endtrans %}</p>
                    {% endif %}


                </section>
                <!-- ShareThis BEGIN -->
                <div class="sharethis-inline-share-buttons share"></div><!-- ShareThis END -->

            </section>
        </main>

    </div>

    <div class="modal" tabindex="-1" id="modalMap">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close ms-auto p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title m-4"></h5>
                <div class="modal-header">
                    <div id="grid">
                        <div>
                            <p id="start"></p>
                            <p id="max"></p>
                            <p id="end"></p>
                            <p id="duration"></p>
                        </div>
                        <div>
                            <p id="startAz"></p>
                            <p id="maxAz"></p>
                            <p id="endAz"></p>
                            <p id="mag"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div style="height: 500px" id="map"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if info.city %}
            window.history.pushState("", "", '/?city={{ info.city }}');
            {% else %}
            window.history.pushState("", "", '/');
            {% endif %}


        });
        $('#buttonSumbit').on("click", function (e) {

            e.preventDefault();
            var value = $('#location').val();
            var url = "https://nominatim.openstreetmap.org/search?format=json&q=" + encodeURIComponent(value);
            var request = new XMLHttpRequest();
            request.open('GET', url);
            request.responseType = "text";
            request.send();
            request.onload = function () {
                if (request.status >= 200 && request.status < 300) {
                    var result = eval(request.responseText);
                    if (result.length == 0) {
                        return;
                    }
                    var lon = result[0].lon;  // lon, lat auf 3 Nachkommastellen beschneiden!
                    var lat = result[0].lat;
                    var name = result[0].display_name;/*
                var cIdx = name.indexOf(",");
                if (cIdx >= 0){
                    name = name.substring(0, cIdx);
                }*/
                    $('#lon').val(lon);
                    $('#lat').val(lat);
                    $('#name').val(name);
                    $('#formLocation').submit();


                }
            };


        });


        var map = L.map('map',
            {'worldCopyJump': true}
        ).setView([{{ info.lat }}, {{ info.lon }}], 4);
        var homeIcon = L.icon({
            iconUrl: 'images/home.svg',
            iconSize: [25, 25]
        });
        L.marker([{{ info.lat }}, {{ info.lon }}], {icon: homeIcon}).addTo(map);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoic2VlaXNzIiwiYSI6ImNrZ3o2ZXkyejBsNGMyc252cGpncWYzenoifQ.hGTn1d_CBTHKYaRMpGrIwg'
        }).addTo(map);

        var p = L.control({position: 'bottomleft'});
        p.onAdd = function (map) {
            var div = L.DomUtil.create('h1');
            div.innerHTML = "www.seeiss.com";
            div.style.color = "grey";
            return div;
        }
        p.addTo(map);


        var jsonPasses = {{ totalPasses | json_encode | raw }};
        var arrayPasses;


        $('.linkMap').click(function (e) {
            e.preventDefault();
            var idLink = parseInt($(this).attr('id'));
            var passes = jsonPasses[idLink];
            var latLonpasse = [];
            passes['coord'].forEach(function (value) {
                latLonpasse.push([value.lat, value.lon]);
            })
            $('#modalMap h5.modal-title').text(passes['date']);
            $('#modalMap p#start').text("{% trans %}start{% endtrans %} : " + passes['dateStart']);
            $('#modalMap p#max').text("Max : " + passes['dateMax']);
            $('#modalMap p#end').text("{% trans %}end{% endtrans %} : " + passes['dateEnd']);
            $('#modalMap p#duration').text("{% trans %}duration{% endtrans %} : " + passes['duration'] + " s");


            $('#modalMap p#startAz').text("{% trans %}start{% endtrans %} AZ : " + passes['azStartDirection'] + " (" + passes['azStartDegres'] + "°)");
            $('#modalMap p#maxAz').text("Max AZ : " + passes['azMaxDirection'] + " (" + passes['azMaxDegres'] + "°)");
            $('#modalMap p#endAz').text("{% trans %}end{% endtrans %} AZ : " + passes['azEndDirection'] + " (" + passes['azEndDegres'] + "°)");
            $('#modalMap p#mag').text("Mag : " + passes['magnitude']);


            $('#modalMap').modal('show');

            var latlngs = latLonpasse;

            var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
            setTimeout(function () {
                map.invalidateSize();
            }, 1);

            $('#modalMap').on('hide.bs.modal', function (e) {
                map.removeLayer(polyline);
            });

        });


    </script>

{% endblock %}
