{% extends 'base.html.twig' %}
{% block title %}SeeISS{% endblock %}

{% block body %}


    <div class="container-lg">
        <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill"/>
            </svg>
            <div>
                <p>Le site seeiss.com est accessible gratuitement et sans publicité afin de garantir une expérience
                    utilisateur optimale.</p>
                <p>Si vous le souhaitez, vous pouvez participer à cette cagnotte afin de me soutenir financièrement
                    dans ce projet.</p>
                <a class="leetchi-widget-btn"
                   href="https://www.leetchi.com/fr/c/soutien-financement-site-seeiss-com"><img
                            src="https://asset.leetchi.com/Content/Quenette/img/culture/fr/view/wizard/embed-btn.png?v=c329012b596c40ec8c480af43a4f7b7f"></a>

            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <main>


            <img id="iss" src="{{ asset('/images/iss.webp') }}" alt="">

            <section class="px-3" id="passages">
                <h2 class="h3">{% trans %}passesText{% endtrans %}</h2>

                <form action="{{ path('home') }}" method="POST" id="formLocation">
                    <div class="input-group">
                        <input id="location" class="form-control" type="text" size="50"
                               placeholder="{% if info.city %}{{ info.city }} {% else %} {% trans %}city{% endtrans %}{% endif %}" value=""/>
                        <div class="input-group-append">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary"
                                                                   id="localisation">Localisation</button></span>
                        </div>
                    </div>
                    <input type="hidden" id="name" name="city"/>
                    <input type="hidden" id="lat" name="lat"/>
                    <input type="hidden" id="lon" name="lon"/>
                    <button id="buttonSumbit" type="submit" class="btn btn-primary"
                            style="margin-left: 5px">{% trans %}send{% endtrans %}</button>
                </form>

                <div id="info">
                    <p>{% trans %}issVisible{% endtrans %}</p>
                    <p>{% trans %}visiblePoint{% endtrans %}</p>
                    <p>{% trans %}timeIss{% endtrans %}</p>
                </div>


                <section class="px-1">

                    {% if passes %}
                        <div id="visibilty">
                            <p class="bg-success">{% trans %}goodVisibility{% endtrans %}</p>
                            <p class="bg-warning">{% trans %}mediumVisibility{% endtrans %}</p>
                        </div>

                        {% for key, passe in passes %}
                            <h3>{{ key }}</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="head">
                                        <th></th>
                                        <th colspan="2">{% trans %}start{% endtrans %}</th>
                                        <th colspan="2">Max</th>
                                        <th colspan="2">{% trans %}end{% endtrans %}</th>
                                        <th colspan="2">Info</th>
                                        <th colspan="1"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{% trans %}start{% endtrans %}</th>
                                        <th scope="col">{% trans %}azimuth{% endtrans %}</th>
                                        <th scope="col">{% trans %}hour{% endtrans %}</th>
                                        <th scope="col">Az</th>
                                        <th scope="col">{% trans %}hour{% endtrans %}</th>
                                        <th scope="col">Az</th>
                                        <th scope="col">{% trans %}duration{% endtrans %} (s)</th>
                                        <th scope="col">Magnitude</th>
                                        <th scope="col">{% trans %}seeonmap{% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for value in passe %}
                                        <tr {% if value.magnitude <= -3 %} class="table-success" {% elseif value.magnitude <= -2 %} class="table-warning" {% endif %}>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ value.dateStart }}</td>
                                            <td>{{ value.azStartDirection }} ({{ value.azStartDegres }}°)</td>
                                            <td>{{ value.dateMax }}</td>
                                            <td>{{ value.azMaxDirection }} ({{ value.azMaxDegres }}°)</td>
                                            <td>{{ value.dateEnd }}</td>
                                            <td>{{ value.azEndDirection }} ({{ value.azEndDegres }}°)</td>
                                            <td>{{ value.duration }}</td>
                                            <td>{{ value.magnitude }}</td>
                                            <td><a href="#" class="linkMap"
                                                   id="{{ value.index }}">{% trans %}map{% endtrans %}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p id="noPassage">{% trans %}noPasse{% endtrans %}</p>
                    {% endif %}


                </section>
                <!-- ShareThis BEGIN -->
                <div class="sharethis-inline-share-buttons share"></div><!-- ShareThis END -->

            </section>
        </main>

    </div>

    <div class="modal" tabindex="-1" id="modalMap">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close ms-auto p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title m-4"></h5>
                <div class="modal-header">
                    <div id="grid">
                        <div>
                            <p id="start"></p>
                            <p id="max"></p>
                            <p id="end"></p>
                            <p id="duration"></p>
                        </div>
                        <div>
                            <p id="startAz"></p>
                            <p id="maxAz"></p>
                            <p id="endAz"></p>
                            <p id="mag"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div style="height: 500px" id="map"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            {% if info.city %}
            window.history.pushState("", "", '/?city={{ info.city }}');
            {% else %}
            window.history.pushState("", "", '/');
            {% endif %}
            {% if info.city %}
            //set placeholder value of input




            $('#location').attr('placeholder', "{{ info.city }}");
            {% endif %}
        });



        window.onload = function () {
            {% if isPostRequest %}
            let anchor = document.querySelector('#passages');
            anchor.scrollIntoView({behavior: 'smooth'});
            {% endif %}
        }



        $('#localisation').on('click', function () {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    let url = "https://nominatim.openstreetmap.org/reverse.php?lat=" + encodeURIComponent(lat) + "&lon=" + encodeURIComponent(lon) + "&zoom=18&format=jsonv2";
                    let request = new XMLHttpRequest();
                    request.open('GET', url);
                    request.send();
                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            const data = JSON.parse(request.response);
                            if (data.length === 0) {
                                return;
                            }
                            const name = data.display_name;
                            $('#lon').val(lon);
                            $('#lat').val(lat);
                            $('#name').val(name);
                            $('#formLocation').submit();
                        }
                    };

                });
            }


        });
        $('#buttonSumbit').on("click", function (e) {

            e.preventDefault();
            const value = $('#location').val();
            const url = "https://nominatim.openstreetmap.org/search?format=json&q=" + encodeURIComponent(value);
            const request = new XMLHttpRequest();
            request.open('GET', url);
            request.responseType = "text";
            request.send();
            request.onload = function () {
                if (request.status >= 200 && request.status < 300) {
                    const result = eval(request.responseText);
                    if (result.length === 0) {
                        return;
                    }
                    const lon = result[0].lon;
                    const lat = result[0].lat;
                    const name = result[0].display_name;
                    $('#lon').val(lon);
                    $('#lat').val(lat);
                    $('#name').val(name);
                    $('#formLocation').submit();


                }
            };


        });


        var map = L.map('map',
            {'worldCopyJump': true}
        ).setView([{{ info.lat }}, {{ info.lon }}], 4);
        var homeIcon = L.icon({
            iconUrl: '/images/home.svg',
            iconSize: [25, 25]
        });
        L.marker([{{ info.lat }}, {{ info.lon }}], {icon: homeIcon}).addTo(map);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoic2VlaXNzIiwiYSI6ImNrZ3o2ZXkyejBsNGMyc252cGpncWYzenoifQ.hGTn1d_CBTHKYaRMpGrIwg'
        }).addTo(map);

        var p = L.control({position: 'bottomleft'});
        p.onAdd = function (map) {
            var div = L.DomUtil.create('h1');
            div.innerHTML = "www.seeiss.com";
            div.style.color = "grey";
            return div;
        }
        p.addTo(map);


        var jsonPasses = {{ totalPasses | json_encode | raw }};
        var arrayPasses;


        $('.linkMap').click(function (e) {
            e.preventDefault();
            var idLink = parseInt($(this).attr('id'));
            var passes = jsonPasses[idLink];
            var latLonpasse = [];
            passes['coord'].forEach(function (value) {
                latLonpasse.push([value.lat, value.lon]);
            })
            $('#modalMap h5.modal-title').text(passes['date']);
            $('#modalMap p#start').text("{% trans %}start{% endtrans %} : " + passes['dateStart']);
            $('#modalMap p#max').text("Max : " + passes['dateMax']);
            $('#modalMap p#end').text("{% trans %}end{% endtrans %} : " + passes['dateEnd']);
            $('#modalMap p#duration').text("{% trans %}duration{% endtrans %} : " + passes['duration'] + " s");


            $('#modalMap p#startAz').text("{% trans %}start{% endtrans %} AZ : " + passes['azStartDirection'] + " (" + passes['azStartDegres'] + "°)");
            $('#modalMap p#maxAz').text("Max AZ : " + passes['azMaxDirection'] + " (" + passes['azMaxDegres'] + "°)");
            $('#modalMap p#endAz').text("{% trans %}end{% endtrans %} AZ : " + passes['azEndDirection'] + " (" + passes['azEndDegres'] + "°)");
            $('#modalMap p#mag').text("Mag : " + passes['magnitude']);


            $('#modalMap').modal('show');

            var latlngs = latLonpasse;

            var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
            setTimeout(function () {
                map.invalidateSize();
            }, 1);

            $('#modalMap').on('hide.bs.modal', function (e) {
                map.removeLayer(polyline);
            });

        });


    </script>

{% endblock %}
