{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="main">
    <div class="row">


    <div class="col-md">

    {# SpaceStation #}
    <div class="card" style="margin-bottom:1em;;">
        <div class="row">
            <div class="col-md-5">
                <div class="d-none d-md-block"
                     style="height:100%;width:100%;background-image: url({{ spaceStation.imageUrl }});background-size: cover;background-position: center;">
                </div>
                <div class="d-md-none" style="overflow: hidden; text-align: center;">
                    <img src="{{ spaceStation.imageUrl }}"
                         style="width: 100%;">
                </div>
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title"
                        style="text-align:center;margin:0">{{ spaceStation.name }}</h3>
                    <div class="card-text" style="text-align:left;margin-top:1.25rem;">
                        <div class="row">
                            <h6 class="text-center w-100">{{ spaceStation.type }}</h6>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md label-value">
                                <p>
                                    Height
                                    <span>
                                     {{ spaceStation.height }} Metres
                                </span>
                                </p>
                                <p>
                                    Width
                                    <span>
                                    {{ spaceStation.width }} Metres
                                </span>
                                </p>
                                <p>
                                    Mass
                                    <span>
                                    {{ spaceStation.mass }} Tonnes
                                </span>
                                </p>
                            </div>
                            <div class="col-md label-value">
                                <p>
                                    Volume
                                    <span>
                                    {{ spaceStation.volume }} m<sup>3</sup>
                                </span>
                                </p>
                                <p>
                                    Orbit
                                    <span>
                                    {{ spaceStation.orbit }}
                                </span>
                                </p>
                                <p>
                                    Founded
                                    <span>
                                    {{ spaceStation.founded | date }}
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#
    SpaceStation Description
    #}
    <div class="card" style="margin-bottom:1em;;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center;margin:0">Mission Description</h3>
                    <div class="card-text" style="text-align:left;margin-top:1.25rem;">
                        {{ spaceStation.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Astronauts #}
    <div class="row no-gutters">
        <div class="card w-100" style="margin-bottom:1em;">
            <div class="card-body">
                <h3 class="card-title" style="text-align:center;margin:0;">Crew</h3>
                <div class="row crew-card-deck" style="justify-content: center">

                    {# Template astronaut #}
                    {% for astronaut in spaceStation.crew %}
                        {% include 'partials/astronaut.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# Docked vehicule #}
    <div class="row no-gutters">
        <div class="card w-100">
            <div class="card-body">
                <h3 class="card-title" style="text-align:center;margin: 0 0 1.25rem;">Docked
                    Vehicles</h3>

                {% for docking in spaceStation.dockingLocation %}
                    <div class="card" style="margin-bottom:1em;">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ docking.spaceCraft.spaceCraftConfig.imageUrl }}"
                                     style="width: 100%;">

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title"
                                        style="text-align:center;margin:0">{{ docking.spaceCraft.name }}</h3>
                                    <div class="card-text" style="text-align:left;margin-top:15px;">
                                        <p style="text-align:center;">
                                            <b>{{ docking.spaceCraft.spaceCraftConfig.agency.name }}</b></p>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md">
                                                <p>
                                                    Docking
                                                    <span id="{{ docking.idApi }}-docking"></span>
                                                </p>
                                                <p>
                                                    Docking Location
                                                    <span>
                                                {{ docking.name }}
                                            </span>
                                                </p>
                                            </div>
                                            <div class="col-md">
                                                <p>
                                                    Crew Capacity
                                                    <span>
                                                 {% if docking.spaceCraft.spaceCraftConfig.crewCapacity != null %}
                                                        {{ docking.spaceCraft.spaceCraftConfig.crewCapacity }}
                                                        {% else %}
                                                        0
                                                        {% endif %}
                                            </span>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex flex-row"
                                             style="margin-top: 1.25rem">

                                                <a href="/agency/{{ docking.spaceCraft.spaceCraftConfig.agency.idApi }}"
                                                   class="btn btn-primary ms-3" role="button">
                                                    <i class="fas fa-building me-2"></i><span class="ms-1">Agency</span>
                                                </a>


                                                <a class="btn btn-primary ms-3"
                                                   href="/launch/{{ docking.spaceCraft.launch.slug }}/{{ docking.spaceCraft.launch.idApi }}">
                                                    <i class="fas fa-rocket me-2"></i><span class="ms-1">Launch</span>
                                                </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.getElementById("{{ docking.idApi }}-docking").innerText = new Date("{{ docking.docking | date }}").toLocaleString();
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}