<div class="card" style="margin:1em; width:100%">
    <div class="row">
        <div class="col-md-4">

            <div class=""
                 style="overflow: hidden; text-align: center;">
                <img src="{{ astronaut.profileImg }}"
                     style="width: 70%">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title"
                    style="text-align:center;">{{ astronaut.name }}</h3>
                <div class="card-text" style="text-align:left;">
                    <div class="row">
                        <h6 class="text-center w-100">{{ astronaut.role }}</h6>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md label-value">
                            <p>
                                Nationality
                                <span> {{ astronaut.nationality }}</span>
                            </p>
                            <p>
                                Date Of Birth
                                <span>{{ astronaut.dateOfBirth | date }}</span>
                            </p>

                        </div>
                        <div class="col-md label-value">
                            <p>
                                Status
                                <span>{{ astronaut.status }}</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-row flex-wrap"
                         style="margin-top: 1.25rem;">

                        {% if astronaut.twitter %}

                            <a class="btn btn-secondary me-3 mt-1" style="background-color: #55acee;" href="{{ astronaut.twitter }}" role="button"
                            ><i class="fab fa-twitter me-2"></i>Twitter</a
                            >




                        {% endif %}
                        {% if astronaut.instagram %}

                            <a class="btn btn-secondary me-3 mt-1" style="background-color: #ac2bac;" href="{{ astronaut.instagram }}" role="button"
                            ><i class="fab fa-instagram me-2"></i
                                >Instagram</a>



                        {% endif %}
                        {% if astronaut.wiki %}

                            <a class="btn btn-secondary me-3 mt-1" style="background-color: #565e64;" href="{{ astronaut.wiki }}" role="button"
                            ><i class="fab fa-wikipedia-w me-2"></i
                                >Wikipedia</a>

                        {% endif %}
                        <a href="{{ path('agency', {'nameSlug' : astronaut.agency.name | slug | lower, 'idApi': astronaut.agency.idApi }) }}}"
                           class="btn btn-primary me-3 mt-1" role="button">
                            <i class="fas fa-building me-2"></i><span class="ms-1">Agency</span>
                        </a>

                        <a href="{{ path('astronaut', {'nameAstro' : astronaut.name | slug | lower ,'idApi': astronaut.idApi}) }}"
                           class="btn btn-primary me-3 mt-1" role="button">
                            <i class="fas fa-info-circle me-2"></i><span class="ms-1">More info</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>