{% set route_name = app.request.attributes.get('_route') %}
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-lg">
            <a class="navbar-brand ms-1" href="{{ path('home') }}"> <img
                        src="{{ asset('images/international-space-station-ico.png') }}" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                SeeISS</a>
            <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {# Margin until the end #}
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto ms-2">
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "live" %} active {% endif %}"
                           href="{{ path('live') }}">{% trans %}realtime{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == "spacestation" %} active {% endif %}"
                           href="{{ path('spacestation',{'idApi' : 4}) }}">{% trans %}theSpaceStation{% endtrans %}</a>
                    </li>

                </ul>


                {% if app.request.attributes.get('_route') is not null %}
                <ul class="navbar-nav mb-2 mb-lg-0 ml-auto ms-2">
                    <li class="nav-item dropdown">
                        {% set url =  path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) %}

                        {% if app.request.locale == "fr" %}
                            <a class="nav-link dropdown-toggle" href="{{ path('language_selector', {'lang' : 'fr', 'lastUrl' : url}) }}"
                               id="dropdown09" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"><span
                                        class="flag-icon flag-icon-fr"> </span> Français</a>
                        {% else %}
                            <a class="nav-link dropdown-toggle" href="{{ path('language_selector', {'lang' : 'en', 'lastUrl' : url}) }}"
                               id="dropdown09" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"><span
                                        class="flag-icon flag-icon-us"> </span> English</a>
                        {% endif %}
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            {% if app.request.locale == 'fr' %}
                                <a class="dropdown-item" href="{{ path('language_selector', {'lang' : 'en', 'lastUrl' : url}) }}"><span
                                            class="flag-icon flag-icon-us"> </span> English</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('language_selector', {'lang' : 'fr', 'lastUrl' : url}) }}"><span
                                            class="flag-icon flag-icon-fr"> </span> Français</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                {% endif %}


            </div>
        </div>
    </nav>

    <div class="logo mt-3">
        <h1>See ISS</h1>
        <p>{% trans %}by {% endtrans %} Baptiste BUVRON</p>
    </div>
</header>