{% extends 'base.html.twig' %}
{% block title %}404{% endblock %}


{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/404.css') }}">

{% endblock %}

{% block body %}



    <div class="stars">
        <div class="central-body">
            <img class="image-404" src="{{ asset('images/404.svg') }}" width="300px">
            <a href="{{ path('home') }}" class="btn-go-home">GO BACK HOME</a>
        </div>
        <div class="objects">
            {#<img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">#}
            <img class="object_rocket" src="{{ asset('images/international-space-station.png') }}" width="100px">
            <div class="earth-moon">
                {# <img class="object_earth" src="images/earth.svg" width="100px">#}
                <img class="object_moon" src="{{ asset('images/moon.svg') }}" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="{{ asset('images/astronaut.svg') }}" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

{#
        <a id="author" href="http://salehriaz.com/">By saleh Riaz </a>
#}
    </div>

{% endblock %}